h3 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

button{
  color: antiquewhite;
  background-color: #369;
  height: 35px;
  width: 75px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  cursor: pointer
}

a {
    padding-left: 760px;
}